<a href="https://colab.research.google.com/github/kulkarnisunil/AI_Assistant/blob/main/Data_types_structure_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Strctures Quastions

### 1]  What are data structures, and why are they important?

Answer:-Data structures are specialized ways to organize, manage, and store data in a computer so that it can be accessed and used efficiently. Choosing the right data structure for a task can drastically affect the speed and efficiency of software and algorithms

### 2]  Explain the difference between mutable and immutable data types with examples.

Answer:-
* Mutable Data Types: Mutable objects can be modified after their creation without creating a new object. This means you can change, add, or remove elements within the object, and its memory address (ID) remains the same.

    eg:-  list,set,Dictionary

* Immutable Data Types:- Immutable objects cannot be changed after they are created,you cannot add,remove element.if you try to modify immutable object,it result create new object with differnt memory address.

    eg:- int,float,String,tupple

In [ ]:
#mutable
my_list=[1,2,3]
print(id(my_list))
my_list.append(4)
print(id(my_list))

#imutable
a=10
print(id(a))
a=a+10
print(id(a))

140419795402496
140419795402496
10758024
10758344

### 3] What are the main differences between lists and tuples in Python?

Answer:-

   * python list is mutable and tupple is imytable.
   * python list create using [] and tupple ().
   * Use lists when you need a collection where elements may change. and Use tuples when you need a fixed collection of elements that should not be modified, or you need to use the collection as a dictionary key.

### 4] Describe how dictionaries store data

Answer:- dictionaries store data as key,value pairs using an internal data structure called a hash table.

1. Structure of a Dictionary
* dictionary map each key to a value.
* key must be unique and hashable(immutable)
* value can be any type.
* python uses a hash table where:
    * Keys are stored as their hash values
    * Each hash value points to a location in memory where the key and its associated value are stored.

### 5] Why might you use a set instead of a list in Python?

Answer:-
1. you want unique entries
2. you want fast membership check
3. the order of element doesn't important
4. you want do set operation {union,intersection,difference,symetric difference}

### 6]  What is a string in Python, and how is it different from a list?

answer:- string is a sequence of characters enclosed in single quotes'',double" ",triple""" """quotes.

Strings are used to store and represent textual data.

* string is immutable and list is mutable
* string is sequence of characters,symbolls etc and list store any data type also string.

### 7]  How do tuples ensure data integrity in Python?

answer:- tuples ensure data integrity by being immutable, preventing accidental modifications, supporting safe shared use, and suitable for use cases where fixed, reliable collections of data are essential.

### 8] What is a hash table, and how does it relate to dictionaries in Python?

Answer:-  A hash table is a data structure that store key value pair,lets you quickly acess value using a keys.
              python dictionary is built using hash table,so when you use a dictionary to store and look up values by key, you are using a hash table behind the scenes.

### 9] Can lists contain different data types in Python?

Answer:- list can contain different data types. For example, a list can have numbers, strings, or even other lists all together.

In [ ]:
example = [3, "hello", 7.5, [1, 2]]
example

[3, 'hello', 7.5, [1, 2]]

### 10] Explain why strings are immutable in ?

Answer:- Strings are immutable in Python, meaning they cannot be changed after creation. This ensures memory optimization through interning,makes strings hashable for use as dictionary keys, provides thread-safety, and avoids accidental modifications.

### 11]What advantages do dictionaries offer over lists for certain tasks?

Answer:-

1. Faster Lookups :- Dictionaries use hashing, so searching, inserting, or deleting by key is O(1) on average, whereas lists require O(n) time.
2. Meaningful Access :- In a list, elements are accessed by index, but in a dictionary you can use keys (id,name) which makes code more readable.
3. Natural Key-Value Mapping :- Dictionaries are ideal when data represents a mapping/relationship(list is order collection and dictionary is unique key value pair)
4. Direct Existence Check :- With if key in dict, you can directly check for an item without looping, unlike in lists.

eg:-
* With a list, finding a student's grade requires scanning the whole list.

* a dictionary, you can directly do grades["John"] in constant time.

### 12] Describe a scenario where using a tuple would be preferable over a list?

Answer:- A tuple is preferable over a list when the data should be immutable, such as fixed values like coordinates or dates. Tuples can also be used as dictionary keys, unlike lists. For example, storing (x, y) coordinates as a tuple is safer and more efficient than using a list.

### 13] How do sets handle duplicate values in Python?

Answer:- In Python, sets store only unique elements. If you insert a duplicate, it's automatically ignored because sets use hashing.

### 14] How does the “in” keyword work differently for lists and dictionaries?

Answer:- With lists, in checks for a value using linear search. With dictionaries, in checks for a key using hashing — not the value unless you explicitly check .values().

In [ ]:
# List
nums = [10, 20, 30]
print(20 in nums)
print(40 in nums)

# Dictionary
student = {"id": 101, "name": "Alice"}
print("id" in student)  #check only keys
print("Alice" in student)   # False (does NOT check values)

# If you want to check values:
print("Alice" in student.values())  # True

True
False
True
False
True

### 15] Can you modify the elements of a tuple? Explain why or why not?

Answer:- Tuples are immutable, so their elements cannot be changed directly. However, if a tuple contains a mutable object like a list, that object itself can be modified.

* This immutability makes tuples hashable (if all their elements are hashable), so they can be used as dictionary keys or set elements.

### 16] What is a nested dictionary?, and give an example of its use case.

Answer:- A nested dictionary is a dictionary inside a dictionary, useful for representing hierarchical or structured data, like student records or JSON responses.Useful when data has multiple levels of information.

* Use Cases:
    1. Database-like structures → Student → {name, age, grades}
    2. Configurations → Settings → {display: {brightness, contrast}, sound: {volume, mute}}
    3. API responses (JSON) → When working with web data

eg:-

In [ ]:
students = {
    "H101": {"name": "Sunil", "age": 20, "grades": {"math": 90, "science": 85}},
    "H102": {"name": "Anil", "age": 22, "grades": {"math": 75, "science": 95}},
}

print(students["H101"]["name"])

Sunil

In [ ]:
print(students["H102"]["grades"]["math"])

75

### 17] Describe the time complexity of accessing elements in a dictionary.

Answer:- Accessing an element in a dictionary is O(1) on average due to hashing, but in the worst case with collisions, it can be O(n).

### 18] In what situations are lists preferred over dictionaries?

Answer:-

1. Order matters → Lists maintain insertion order and allow index-based access.
          eg:- Iterating items in the order they were added.
2. Duplicates are allowed → Lists can store duplicate values, dictionaries cannot have duplicate keys.
          eg:- Keeping a record of repeated scores: [10, 20, 20, 30].
3. Simple sequences → When data is just a collection of values without needing key-value mapping.
          eg:- Storing a list of student names: ["Alice", "Bob", "Charlie"].

### 19] Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer:- Dictionaries are considered unordered because they're based on hash tables, meaning retrieval is key-based, not position-based. Since Python 3.7, insertion order is preserved, but you still can't access items by index like in lists.

* Effect on data retrieval:
1. You cannot rely on positional indexing like with lists (dict[0] is invalid).
2. Retrieval must always be done by key, not by position.
3. key-based lookup structure.

### 20] Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:-

* list:-
      1. Data is retrieved by index (position).
      2. Example: my_list[0] → gets the first element.
      3. Time complexity: O(1) for direct index access, O(n) for searching a value.

* Dictionary:-
      1. Data is retrieved by key.
      2. Example: my_dict["id"] → gets the value for that key.
      3. Time complexity: O(1) on average due to hashing.

# Practical Questions

# 1] Write a code to create a string with your name and print it.

In [ ]:
name=input("Enter your name:-")
print(name)

Enter your name:-Sunil
Sunil

### 2] Write a code to find the length of the string "Hello World"?

In [ ]:
A="Hello World"
print(len(A))

11

### 3] Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s = "Python Programming"
print(s[:3])

Pyt

### 4] Write a code to convert the string "hello" to uppercase

In [ ]:
s="hello"
print(s.upper())

HELLO

### 5]  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s="I like apple"
print(s.replace("apple","orange"))

I like orange

### 6] Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

### 7] Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

### 8] Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

### 9] Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
l1=['a', 'b', 'c', 'd']
l1[1]

'b'

### 10] Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list_1=[10, 20, 30, 40, 50]
print(list_1[::-1])

[50, 40, 30, 20, 10]

In [ ]:
list_1.reverse()
print(list_1)

[50, 40, 30, 20, 10]

### 11]  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t1=(100,200,300)
print(t1)

(100, 200, 300)

### 12]  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
t2=('red', 'green', 'blue', 'yellow')
t2[1:]

('green', 'blue', 'yellow')

### 13] Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t3= (10, 20, 5, 15)
print(min(t3))

5

### 14]  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

### 15] Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

### 16]  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s1={'a','b','c'}
print(s1)

{'b', 'c', 'a'}

### 17]  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers={1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

### 18] Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
numbers={1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

### 19]  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

### 20]  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

### 21]  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
person = {
    "name": "Sunil",
    "age": 25,
    "city": "Pune"
}

print(person)

{'name': 'Sunil', 'age': 25, 'city': 'Pune'}

### 22]  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict_1={'name': 'John', 'age': 25}
dict_1["country"]="USA"
print(dict_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

 ### 23] Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict_2={'name': 'Alice', 'age': 30}
print(dict_2["name"])

Alice

### 24] Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:

dict_3={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict_3["age"]
print(dict_3)

{'name': 'Bob', 'city': 'New York'}

### 25] Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict_4={'name': 'Alice', 'city': 'Paris'}
print("city" in dict_4)

True

### 26]  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Creating a list of fruits
fruit_list = ['apple', 'banana', 'cherry']

# Creating a tuple of fruits
fruit_tuple = ('mango', 'orange', 'grape')

# Creating a dictionary of fruits and their colors
fruit_dict = {
    'apple': 'red',
    'banana': 'yellow',
    'grape': 'purple'
}

# Printing all three
print("List of fruits:", fruit_list)
print("Tuple of fruits:", fruit_tuple)
print("Dictionary of fruit colors:", fruit_dict)

List of fruits: ['apple', 'banana', 'cherry']
Tuple of fruits: ('mango', 'orange', 'grape')
Dictionary of fruit colors: {'apple': 'red', 'banana': 'yellow', 'grape': 'purple'}

### 27] Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random

# Step 1: Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Step 2: Sort the list in ascending order
random_numbers.sort()

# Step 3: Print the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [7, 13, 30, 61, 90]

### 28]  Write a code to create a list with strings and print the element at the third index.

In [ ]:
string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at index 3:", string_list[3])

Element at index 3: date

### 29] Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict_1={'a':1,'b':2}
dict_2={'c':3,'d':4}
dict_1.update(dict_2)
print(dict_1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30] Write a code to convert a list of strings into a set.

In [ ]:
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
string_set = set(string_list)
print("Set of strings:", string_set)

Set of strings: {'cherry', 'banana', 'apple'}